body{
  font-size: 115%;
  line-height: 1.5;
}

#content{
  margin: 0 auto;
  padding: 0 1em;
  max-width: 960px;
  color: #212933;
}

#wsd {
  border: 1px #ccc solid;
  padding: 0 1em;
}

.pos-S {
  color: red;
  border-color: red;
}

.pos-A {
  color: blue;
  border-color: blue;
}

.pos-V {
  color: green;
  border-color: green;
}

.wsd {
  position: relative;
  display: inline-block;
  border-bottom: 1px dashed;
}

.wsd .wsd-details {
  visibility: hidden;

  font-size: 85%;

  width: 24em;
  top: 100%;
  left: 50%;
  margin-left: -12em;

  background-color: black;
  color: #fff;
  text-align: left;
  padding: .5em;
  border-radius: .5em;

  position: absolute;
  z-index: 1;
}

.wsd:hover .wsd-details {
  visibility: visible;
}

.wsd .wsd-details::after {
  content: " ";
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -.5em;
  border-width: .5em;
  border-style: solid;
  border-color: transparent transparent black transparent;
}

#legend {
  font-size: 85%;
}

@media screen and (min-width: 64em) {
  #menu {
    padding-top: 4.5em;
  }
}

#menu li {
    line-height: 2;
}
