{% extends "layout.html" %}
{% block content %}
{% filter markdown %}
[Watset](https://nlpub.org/Watset) — это метод кластеризации данных, группирующий близкие объекты. Исследования [показывают](https://arxiv.org/abs/1704.07157) высокую эффективность метода Watset для построения синсетов — множеств синонимов из зашумлённых слабоструктурированных данных. Синсеты полезны при решении задач машинного понимания текста.

Данная демонстрация показывает применение метода Watset к решению задачи [разрешения лексической многозначности](https://ru.wikipedia.org/wiki/Разрешение_лексической_многозначности). Используются данные [русского Викисловаря](https://ru.wiktionary.org/wiki/) для построения синсетов и анализатор [mystem](https://tech.yandex.ru/mystem/) для лемматизации и морфологического разбора текстов.


{% endfilter %}
{% endblock %}
