{% extends "layout.html" %}
{% block content %}
<form id="form" class="pure-g pure-form" method="POST" action="{{ url_for('.wsd') }}" onsubmit="validate()">
  <div id="input" class="pure-u-1 pure-u-lg-2-3">
    <fieldset class="pure-group">
      <textarea id="text" class="pure-input-1" rows="10" name="text" placeholder="Статья содержит описание экспериментов."></textarea>
    </fieldset>
  </div>
  <div class="pure-u-1 pure-u-lg-1-3">
    <aside id="actions">
      <p><label for="text">Вставьте в поле ввода текст на русском языке и нажмите кнопку &laquo;Распознать&raquo;.</label></p>
      <button type="submit" class="pure-button pure-button-primary">Распознать</button>
      <p>Система определит значение каждого известного ей слова.</p>
      <p>
        <label for="mode">Алгоритм:</label>
        <select id="mode" name="mode">
          <option value="sparse">разреженный</option>
          {% if 'dense' in modes %}<option value="dense" selected>плотный</option>{% endif %}
        </select>
      </p>
    </aside>
  </div>
</form>

<script type="text/javascript">
  function validate() {
    if (document.forms["form"]["text"].value.trim() == "") {
      document.forms["form"]["text"].value = document.forms["form"]["text"].placeholder;
    }
}
</script>
{% endblock %}
