<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="utf-8"/>
  <title>Mnogoznal</title>
  <meta property="og:type" content="website"/>
  <meta property="og:title" content="Mnogoznal"/>
  <meta property="og:description" content="Разрешение лексической многозначности."/>
  <meta property="og:url" content="{{ request.url }}"/>
</head>
<body>

<div id="content">

<nav id="menu" class="pure-menu pure-menu-horizontal">
  <ul class="pure-menu-list">
    <li class="pure-menu-item"><h1>Mnogoznal</h1></li>
    <li class="pure-menu-item">{% if '/' == request.path %}Анализ{% else %}<a href="{{ url_for('.index') }}">Анализ</a>{% endif %}</li>
    <li class="pure-menu-item">{% if '/about' == request.path %}Описание{% else %}<a href="{{ url_for('.about') }}">Описание</a>{% endif %}</li>
    {% if '/wsd' == request.path %}<li class="pure-menu-item">Результаты</li>{% endif %}
  </ul>
</nav>

{% block content %}{% endblock %}

<footer>
  <p>Подробные сведения об анализаторе доступны на сайте <a href="https://nlpub.org/Mnogoznal">NLPub</a>.</p>
</footer>

</div>

<link rel="stylesheet" property="stylesheet" type="text/css" media="all" href="//cdnjs.cloudflare.com/ajax/libs/pure/1.0.0/base-min.css">
<link rel="stylesheet" property="stylesheet" type="text/css" media="all" href="//cdnjs.cloudflare.com/ajax/libs/pure/1.0.0/grids-min.css">
<link rel="stylesheet" property="stylesheet" type="text/css" media="all" href="//cdnjs.cloudflare.com/ajax/libs/pure/1.0.0/grids-responsive-min.css">
<link rel="stylesheet" property="stylesheet" type="text/css" media="all" href="//cdnjs.cloudflare.com/ajax/libs/pure/1.0.0/forms-min.css">
<link rel="stylesheet" property="stylesheet" type="text/css" media="all" href="//cdnjs.cloudflare.com/ajax/libs/pure/1.0.0/buttons-min.css">
<link rel="stylesheet" property="stylesheet" type="text/css" media="all" href="//cdnjs.cloudflare.com/ajax/libs/pure/1.0.0/menus-min.css">

{% assets "scss_all" %}
  <link rel="stylesheet" property="stylesheet" type="text/css" media="all" href="{{ ASSET_URL }}">
{% endassets %}

</body>
</html>
