{% extends "layout.html" %}
{% block content %}
<div id="wsd">
  {%- for sentence in result %}
    <p>
      {%- for (word, lemma, pos), id in sentence.items() %}
        <span class="pos-{{ pos }} {% if id %}wsd{% endif %}">{{ word }}{% if id %}<span class="wsd-details">
          <strong>Лемма</strong>: {{ lemma }}.<br>
          <strong>Синсет</strong> №&nbsp;{{ id }}: {{ inventory.synsets[id].synonyms.keys() | join(', ') }}.<br>
          <strong>Гиперонимы:</strong> {{ inventory.synsets[id].hypernyms.keys() | join(', ') if inventory.synsets[id].hypernyms else 'н/д' }}.
        </span>{% endif %}</span>
      {%- endfor -%}
    </p>
  {%- endfor %}
</div>

<div id="legend">
{% filter markdown %}
Используется следующая нотация: имена <span class="pos-S">существительные</span> отмечаются красным цветом, имена <span class="pos-A">прилагательные</span> отмечаются синим цветом, <span class="pos-V">глаголы</span> отмечаются зелёным цветом. Слово подчёркивается <span class="wsd">пунктиром</span>, если удалось распознать его многозначность. Наведите на него, чтобы узнать больше.
{% endfilter -%}
</div>

<!-- Режим: {{ mode }}. -->
{% endblock %}
